/*general*/

body {
    margin: 0;
    font-size: 15px;
    color: #000;
    line-height: 1.0; 
    font-family: 'Playfair Display', serif;
}

.big-button {
	background: #feefef;
	border: none;
	text-align: center;
	padding: 18px;
	font-size: 18px;
	border-radius: 36px;
}

.big-button:hover {
	background: radial-gradient(#feefef, #f99);
}

.container {
 	margin-left: 3%;  
 	margin-right: 3%;
 	height: 80vh;
}

/*header*/

.header {
	padding: 3px;
	background: #ffe7f7; 
	color: #fa86c2;
	text-align: center;
	font-size: 24px;
	font-family: 'Parisienne', cursive;
}

/*intro*/

.intro {
    display: flex; 
    flex-direction: column;
    background: url(../images/back.jpg) center no-repeat;
	background-size: 100%;
 	height: 100vh
}

.intro-inner {
	margin-top: 80px;
	text-align: right;
	margin-right: 5%
}

.intro-title {
   	color: #feefef;
    font-size: 80px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    line-height: 30%;
}

/*short-description*/

.short-description {
	float:left;
	margin-top: 135px;
	text-align: left;
	font-size: 21px;
	color: #555;
	width: 39%;
}

.map{
	text-align: right;
}

.img-map {
	margin-top: 36px;
	height: 400px
}

/*description*/

.text {
	padding-top: 10px;
	padding-left: 60px;
	padding-right: 60px;
	justify-content: center;
	font-size: 15px;
	color: #999;
	text-align: right;
	line-height: 1.5;
}

.img-clients {
	background: url(../images/all.jpg) no-repeat;
	height: 60vh;
}

/*product*/

.title-list {
	margin-top: 36px; 
	text-align: center;
}

.item {
	float: left;
	width: 60vh;
	margin-left: 15px;
	margin-right: 15px;
}

.item p {
	color: #888;
}

.img-item	 {
	height: 33vh;
}

/*form*/

.request {
	background: linear-gradient(0deg, #f9c, #ffe7f7);
	color: #df6cb0;
}

.form {
	text-align: center;
	padding-top: 10px;
}

select {
	background: #feefef;
	border: none;
	text-align: center;
	padding: 9px;
	font-size: 15px;
	border-radius: 36px;
}

input {
	background: #feefef;
	border: none;
	text-align: center;
	padding: 9px;
	font-size: 15px;
	border-radius: 36px;
}

textarea {
	background: #feefef;
	border: none;
	text-align: center;
	font-size: 15px;
	border-radius: 18px;
}

/* footer */

.footer {
	background: #df6cb0;
	height: 14vh;
}

.icon {
	float: left;
	margin: 10px;
	height: 10vh;
}
